<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
	<!--<![endif]-->

	<head>
		<meta charset="utf-8">
		<title>TCOE | Data Identification</title>

			<!-- breadcrumb start -->
			<!-- ================ -->
			<div class="breadcrumb-container">
				<div class="container">
					<ol class="breadcrumb">
						<li><i class="fa fa-home pr-10"></i><a href="index.html">Data Identification</a></li>
						<li class="active">data identifcation</li>
					</ol>
				</div>
			</div>
			<!-- breadcrumb end -->

	<h3>Data Identification (what is it?).</h3>
<img src="<%= image_url('data-id.jpg') %>" width="100" height="100" alt="data-id" align="left" hspace="5">
<p>Data describes a real-world information resource that is important to your application. Data describes the things, people, products, items, customers, assets, records, and — ultimately — data structures that your application finds useful to categorize, organize, and maintain.
Identifying data is an iterative process. At first you may just know some vague, high-level details about how the application must handle its information. As you keep expanding your knowledge of the application's intended business processes, you continue filling in more details.
As you begin documenting the data requirements for your application, the description for each item of data typically includes:
Name.
<ul>
  <li>Ownership (who is responsible for it?).</li>
  <li>Data characteristics (how is it measured and how big or small can it be?).</li>
  <li>Logical events, processes, and relationships (how and when is it created, modified, and used?).</li>
  <li>It is worth noting that data has many different characteristics. Part of the process of data design is to specify how to quantify each data item. Some typical data characteristics are:</li>
  <li>Location attributes (address, country, warehouse bin).</li>
  <li>Physical attributes (weight, dimension, volume, color, material, texture).</li>
  <li>Conceptual attributes (name, rank, serial number).</li>
  <li>Relational attributes (assemblies consist of sub-assemblies, authors write multiple books).</li>
  <li>Value attributes (currency, goodwill, esteem).</li>
  <li>The process of identifying data requires interviews, analysis of existing data structures, document preparation, and peer reviews. The eventual result is a documented, conceptual view of your application's information that answers the data questions of "What, where, when, and why?" Generally, this is an early-stage exploration of how the various departments, organizations, and your application need to use data.</li>
</ul>
