      <div class="row">
        <div class="col-md-4">
          <h2>The Latest News from <font color="dk-orange">TCOE</font></h2>
          <p>The Test Data Management Team has been introducing their Services and Assets into GRS Project.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>The Services</h2>
          <p>Define the Data Services provided by TDM such as:<br>
                Identification<br>
                Acquisition<br>
                Provisioning<br>
                Maintenance<br>
                Refresh<br>
                Governance<br>
                Training<br>
<p><a class="btn btn-default" href="/pages#index" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>The Assets</h2>
          <p>We want your satisfaction to be complete.  We will do almost whatever it takes to be sure that you feel 'taken care of' from the setting of the selection of service to the delivery of asset.</p>
          <p>The Assets are:</p>
            <b>Tools</b><br>
                  Accelerators<br>
                  Automation<br>
                  Estimation<br>
                  Templates<br>
            <b>Communication</b><br>
                  Newsletter<br>
                  Forums<br>
                  Training<br>
            <b>Dashboards</b><br>
                  Process<br>
                  Status<br>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h2>The <font color="dk-orange">NEXT</font>Latest News from <font color="dk-orange">TCOE</font></h2>
          <p><font color="dk-orange">TCOE</font>is preparing to EXPLORE a new addition to the CA family of appplications alREADY in place at <font color="dk-orange">IHG GT.</font></p>
          <p>The Test Data Manager will bring a whole new level to the company's capacity to create, provide, automate, store and deliver on <font color="dk-orange">DEMAND.</font></p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Is ILN the Next New Data Management environment?</h2>
          <p>What is ILN and how will it help us.  <b>Intelligent information logistics networks (ILNs)</b</p><br>
<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2></h2>
          <p>tbd</p>
          <p>TBD</p>
            <b>TBD</b><br>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
