      <div class="row">
        <div class="col-md-4">
          <h2>The Latest News</h2>
          <p>2100 Solutions is now the Manager of the TCOE Test Data Management Department for Intercontinental Hotel Group.  Providing solutions for API automation using Postman, Doorkeeper, etc.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>The Products</h2>
          <p>Ruby Programming and Ruby on Rails websites hosted on Heroku - source files on Git hub. Innovative Solutions for Data Managemen, Automation and Accelerated Testing</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Your Satisfaction</h2>
          <p>We want your satisfaction to be complete.  We will do almost whatever it takes to be sure that you feel 'taken care of' from the setting of the appointment to the closing of the purchase.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
