      <div class="row">
           <div class="col-md-6">
          <h2><font color="dk-orange">What is TDM?</font></h2>
          <p>TDM is a process and a service that provides or adds value to the testing and delivery effort.  It is flexible, extensible and renewable.  These features make it useful for each and every system in the Environment, or the "echosphere".<br>
          <p><b>DATA is managed by:</b></p>
            <ul>
                <li>Identification<br>
                <li>Acquisition<br>
                <li>Provisioning<br>
                <li>Maintenance<br>
                <li>Refresh<br>
                <li>Governance<br>
                <li>Training<br>
            </ul>
            While each system has its own needs, TDM is contextual and allows the unique needs of each system to be met by the TDM framework.
<p><a class="btn btn-primary btn-med" href="services#index" role="button">Learn more &raquo;</a></p>
       </div>

        <div class="col-md-6">
          <h2><font color="orange">The Challenges</font></h2>
          <p>Testing Can Be<p>
            <ul> 
                <li>Unorganized<br>
                <li>Limited in Scope<br>
                <li>Code changes affect Manual tests<br>
                <li>Linear & Dependent<br>
                <li>Diminished by Quality of Data
            </ul>
      Having a consistent, stable and well defined Test Data Management program will alleviate many of these issues.</p>
          <p><a class="btn btn-primary btn-med" href="challenges#index" role="button">Learn more &raquo;</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h2><font color="red">TCOE</font> is pround to present:<br>
          <font color="dk-orange"><center>CA Test Data Manager</font></center></h2>
          <p><font color="dk-orange">TCOE</font> is now implementing this tool to accelerate the generation of new data!<font color="dk-orange"> GRS will SING!!</font></p>
          <p>The Test Data Manager will bring a whole new level to the company's capacity to create, provide, automate, store and deliver on <font color="dk-orange">DEMAND.</font></p>
          <ul><b>Product </b><br>
              <li>Generate Synthetic Data - On Demand<br>
              <li>Validate Source Data<br>
              <li>Create Summary Table with Key Characteristics<br>
              <li>Provide Find and Reserve capacity<br>
              <li>Data feed to Booking Process<br>
         <p><a class="btn btn-primary btn-med" href="TDM#index" role="button">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-6">
          <h2><font color="dk-red">NEXT STEPS?</b></font></h2>
          <ul><b>Completion of Tool Implementation</b><br>
              <li>Training - how we will use it help us.  Learn about it's time saving features<br>
              <li>Hands on Learning and Usage<br>
              <li>Learn how to Create Test Data<br>
              <li>Learn the Automation Features<br>
              <li>Data Migration with Integrity<br>
          <p><a class="btn btn-primary btn-med" href="nextsteps#index" role="button">Learn more &raquo;</a></p>
        </div>
        </div>
        <div class="col-md-6">
          <h2>"Shift Left" Testing Effort</b></h2>
          <ul><b>Focus on Quality from Day One</b><br>
              <li>Identify and Fix defects <br>
              <li>Test Plans based upon Modeling<br>
              <li>Data Generation</br>
              <li>Continuous Delivery via planned staging<br>
              <li>Back-End System Availability<br>
              <li>Model-based Testing supporting service virtualization<br>
          <p><a class="btn btn-primary btn-med" href="shiftleft#index" role="button">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-6">
          <h2>Right Test Environment Setup</b></h2>
          <ul><b>Rapid Set-Up and Delivery</b><br>
              <li>Quick Set-up<br>
              <li>Sustainable / Repeatable Environments</br>
              <li>Continuous Delivery via planned staging<br>
              <li>Back-End System Availability<br>
              <li>Model-based Testing supporting service virtualization<br>
          <p><a class="btn btn-primary btn-med" href="righttestingsetup#index" role="button">Learn more &raquo;</a></p>
      </div>
