      <div class="row">
        <div class="col-md-4">
          <h2>The Latest News</h2>
          <p>Clarus Glassboards are the latest thing in office improvement.  THey won the 2015 Best Design award. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>The Products</h2>
          <p>Clarus Glassboards, SteelCase, What ever your little pea-pickin' heart desires </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Your Satisfaction</h2>
          <p>We want your satisfaction to be complete.  We will do almost whatever it takes to be sure that you feel 'taken care of' from the setting of the appointment to the closing of the purchase.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
