<% if params[:controller]=='home'%>
<div class="jumbotron">
      <div class="container">
        <h1><font color="orange">IHG:</font><font color="dk-orange"><b>TCOE</b></font><br>
          <h1><font color="orange">Test</font><font color="dk-orange"><b> Data</b><font color="orange"> Management</font></font><br>
        <img src="<%= image_url('ihg-logo.png') %>" align="right" alt="ihg-logo">
        <h2>invites you...</h2>
        <p>TO EXPLORE, Request and Increase your performance in testing, accuracy and delivery.</p>
        <p>The Testing Center of Excellence as of late has been introducing the new Test Data Management Team into the GRS Project to provide accelerated services to help you achieves your outcomes.</p>
        <p><a class="btn btn-primary btn-lg" href="services#index" role="button">Learn more &raquo;</a></p>
      </div>
 </div>
<%end%>
