<% if params[:controller]=='home'%>
<div class="jumbotron">
      <div class="container">
        <h1><font color="orange">IHG:</font><font color="dk-orange"><b>Testing Center Of Excellence</b></font><br>
          <h1><font color="orange">Test</font><font color="dk-orange"><b> Data</b><font color="orange"> Management</font></font><br>
        <img src="<%= image_url('ihg-logo.png') %>" align="right" alt="ihg-logo">
        <h2>invites you...</h2>
        <p>TO EXPLORE, Request, Receive Data on Demand and Increase your performance in testing, accuracy and delivery.</p>
        <p>The <font color="dk-orange"><b>Testing Center of Excellence</b></font color> (TCOE) has of late has acquired the new <b>Test Data Manager Platform from CA Technologies </b>and will be introducing it to the Team for the <b>GRS Project</b> to provide accelerated services to help achieve accurate and reliable test data outcomes.</p>
        <p><a class="btn btn-primary btn-lg" href="services#index" role="button">Learn more &raquo;</a></p>
      </div>
 </div>
<%end%>
