<head></head>
<html>
<body>
  <div class="row">
    <h2>Fresh news - Good news - Over the top news!</h2>
  <ul>
    <h3>
    <li>Yes it is....
    <li>All good news
      <li>News when you want it,
        <li>News when you need it,
          <li>News, News, News, News!</h3>
