<h1>Methods#index</h1>

<body>

<h2> Is ILN the Next New Data Management environment???.....read on</h2>
<p>A next generation of methods is emerging in data management to meed the demands of modern businesses in transition from older technology to newer, lighter, more powerful solutions.</p>
<p>An example of a new solution has also emerged with the data query management (DQM) tools that bypass the data warehousing architecture and provide real-time data access and integration in heterogeneous DBMS/platform environments. This may be ideal for limited volumes and transactions that have many applications, especially when merged with powerful OLAP/reporting tools, but this is not the complete answer. GartnerGroup predicts a technology transition in the market merging or replacing the ETL, EAI and DQM tools into flexible, scalable, intelligent Information Logistics Networks (ILNs) that route data to and from information- craving entities based on prescribed business rules.</p>
