<h1>Data Requests#index</h1>
<p>You can now request data directly from TDM via our website</p>
<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
	<!--<![endif]-->


<body>

	<form class="form-inline">
  <div class="form-group">
    <label for="exampleInputName2">Name</label>
    <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail2">Email</label>
    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
  </div>
  <button type="submit" class="btn btn-primary">Send Data Request</button>
</form>
			<!-- main-container start -->
			<!-- ================ -->
			<section class="main-container">

				<div class="container">
					<div class="row">

						<!-- main start -->
						<!-- ================ -->
						<div class="main col-md-8">

							<!-- page-title start -->
							<!-- ================ -->
							<h1 class="page-title">Tables</h1>
							<div class="separator-2"></div>
							<!-- page-title end -->

							<!-- Tables start -->
							<!-- ============================================================================== -->
							<h2>"Still an Example"</h2>
              <div class="form-group row">
                <label for="example-text-input" class="col-xs-2 col-form-label">Text</label>
                <div class="col-xs-10">
                  <input class="form-control" type="text" value="System Name" id="example-text-input">
                </div>
              </div>
              <div class="form-group row">
                <label for="example-search-input" class="col-xs-2 col-form-label">Search</label>
                <div class="col-xs-10">
                  <input class="form-control" type="search" value="Process Requesting Data" id="example-search-input">
                </div>
              </div>
              <div class="form-group row">
                <label for="example-email-input" class="col-xs-2 col-form-label">Email</label>
                <div class="col-xs-10">
                  <input class="form-control" type="email" value="bootstrap@example.com" id="example-email-input">
                </div>
              </div>
              <div class="form-group row">
                <label for="example-url-input" class="col-xs-2 col-form-label">URL</label>
                <div class="col-xs-10">
                  <input class="form-control" type="url" value="https://getbootstrap.com" id="example-url-input">
                </div>
              </div>
              <div class="form-group row">
                <label for="first-name-input" class="col-xs-2 col-form-label">First Name</label>
                <div class="col-xs-10">
                  <input class="form-control" type="tel" value="Richard" id="first-name-input">
                </div>
              </div>
              <div class="form-group row">
                <div class="form-group row">
                  <label for="last-name-input" class="col-xs-2 col-form-label">Last Name</label>
                  <div class="col-xs-10">
                    <input class="form-control" type="tel" value="Nunyabiz" id="last-name-input">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="example-tel-input" class="col-xs-2 col-form-label">City</label>
                  <div class="col-xs-10">
                    <input class="form-control" type="tel" value="Freedom" id="example-tel-input">
                  </div>
                </div>
              <div class="form-group row">
                <label for="example-tel-input" class="col-xs-2 col-form-label">Telephone</label>
                <div class="col-xs-10">
                  <input class="form-control" type="tel" value="1-(555)-555-5555" id="example-tel-input">
                </div>
              </div>
              <div class="form-group row">
                <label for="example-password-input" class="col-xs-2 col-form-label">Password</label>
                <div class="col-xs-10">
                  <input class="form-control" type="password" value="hunter2" id="example-password-input">
                </div>
              </div>
              <div class="form-group row">
                <label for="example-number-input" class="col-xs-2 col-form-label">Number</label>
                <div class="col-xs-10">
                  <input class="form-control" type="number" value="42" id="example-number-input">
                </div>
              </div>
              <div class="form-group row">
                <label for="example-datetime-local-input" class="col-xs-2 col-form-label">Date and time</label>
                <div class="col-xs-10">
                  <input class="form-control" type="datetime-local" value="2011-08-19T13:45:00" id="example-datetime-local-input">
                </div>
              </div>
              <div class="form-group row">
                <label for="example-date-input" class="col-xs-2 col-form-label">Date</label>
                <div class="col-xs-10">
                  <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
                </div>
              </div>
              <div class="form-group row">
                <label for="example-month-input" class="col-xs-2 col-form-label">Month</label>
                <div class="col-xs-10">
                  <input class="form-control" type="month" value="2011-08" id="example-month-input">
                </div>
              </div>
              <div class="form-group row">
                <label for="example-week-input" class="col-xs-2 col-form-label">Week</label>
                <div class="col-xs-10">
                  <input class="form-control" type="week" value="2011-W33" id="example-week-input">
                </div>
              </div>
              <div class="form-group row">
                <label for="example-time-input" class="col-xs-2 col-form-label">Time</label>
                <div class="col-xs-10">
                  <input class="form-control" type="time" value="13:45:00" id="example-time-input">
                </div>
              </div>
              <div class="form-group row">
                <label for="example-color-input" class="col-xs-2 col-form-label">Color</label>
                <div class="col-xs-10">
                  <input class="form-control" type="color" value="#563d7c" id="example-color-input">
                </div>
              </div>


	</body>
</html>
