<h1>Assets#index</h1>
<p>TDM offers proven Assets that will help you succeed with your project!</p>
<p><a class="btn btn-default" href="assets#index" role="button">View details &raquo;</a></p> <p><a class="btn btn-default" href="home#index" role="button">Home &raquo;</a></p>

<html lang="en">
	<!--<![endif]-->

	<head>
		<meta charset="utf-8">
		<title>TCOE | TDM Services</title>

			<!-- breadcrumb start -->
			<!-- ================ -->
			<div class="breadcrumb-container">
				<div class="container">
					<ol class="breadcrumb">
						<li><i class="fa fa-home pr-10"></i><a href="index.html">Home</a></li>
						<li class="active">TDM Assets</li>
					</ol>
				</div>
			</div>
			<!-- breadcrumb end -->

			<!-- main-container start -->
			<!-- ================ -->
			<section class="main-container padding-bottom-clear">

				<div class="container">
					<div class="row">

						<!-- main start -->
						<!-- ================ -->
						<div class="main col-md-12">
							<!-- page-title start -->
							<!-- ================ -->
							<h1 class="page-title text-center">TDM <strong>Assets</strong></h1>
							<div class="separator"></div>
							<br>
							<!-- page-title end -->

							<div class="row">
								<div class="col-sm-4">
									<div class="image-box style-2 mb-20">
										<div class="overlay-container overlay-visible">
											<img src="assets/images/service-1.jpg" alt="">
											<a href="#" class="overlay-link"><i class="fa fa-link"></i></a>
											<div class="overlay-bottom hidden-xs">
												<div class="text">
													<p class="lead margin-clear text-left">TDM TOOLS</p>
                          <p>The Assets are:</p>
                            <b>Tools</b><br>
                                  Accelerators<br>
                                  Automation<br>
                                  Estimation<br>
                                  Templates<br>
                            <b>Communication</b
											</div>
										</div>
										<div class="body padding-horizontal-clear">
											<p>Identification of data is the first step in Test Data Management. We want to ensure you receive the right data in the right way.</p>
											<a class="link-dark" href="page-services.html">Read More<i class="pl-5 fa fa-angle-double-right"></i></a>
										</div>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="image-box style-2 mb-20">
										<div class="overlay-container overlay-visible">
											<img src="/assets/images/service-2.jpg" alt="">
											<a href="#" class="overlay-link"><i class="fa fa-link"></i></a>
											<div class="overlay-bottom hidden-xs">
												<div class="text">
													<p class="lead margin-clear text-left">Communication</p>
												</div>
											</div>
										</div>
										<div class="body padding-horizontal-clear">
											<p>   Newsletter<br>
                            Forums<br>
                            Training<br></p>
											<a class="link-dark" href="page-services.html">Read More<i class="pl-5 fa fa-angle-double-right"></i></a>
										</div>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="image-box style-2 mb-20">
										<div class="overlay-container overlay-visible">
											<img src="images/service-3.jpg" alt="">
											<a href="#" class="overlay-link"><i class="fa fa-link"></i></a>
											<div class="overlay-bottom hidden-xs">
												<div class="text">
													<p class="lead margin-clear text-left">Data Dashboards                                                          </p>
												</div>
											</div>
										</div>
										<div class="body padding-horizontal-clear">
											<p>Process and Status Dashboardsy and Planning, Data Preparation, Data Distribution, Data Availabililty</p>
											<a class="link-dark" href="page-services.html">Read More<i class="pl-5 fa fa-angle-double-right"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-4">
									<div class="image-box style-2 mb-20">
										<div class="overlay-container overlay-visible">
											<img src="images/service-4.jpg" alt="">
											<a href="#" class="overlay-link"><i class="fa fa-link"></i></a>
											<div class="overlay-bottom hidden-xs">
												<div class="text">
													<p class="lead margin-clear text-left">Data Maintnance</p>
												</div>
											</div>
										</div>
										<div class="body padding-horizontal-clear">
											<p>Data Storage, Data Migration, Data Mapping, Data Relevance</p>
											<a class="link-dark" href="page-services.html">Read More<i class="pl-5 fa fa-angle-double-right"></i></a>
										</div>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="image-box style-2 mb-20">
										<div class="overlay-container overlay-visible">
											<img src="images/service-5.jpg" alt="">
											<a href="#" class="overlay-link"><i class="fa fa-link"></i></a>
											<div class="overlay-bottom hidden-xs">
												<div class="text">
													<p class="lead margin-clear text-left">Data Refresh</p>
												</div>
											</div>
										</div>
										<div class="body padding-horizontal-clear">
											<p>Data Refreshments!</p>
											<a class="link-dark" href="page-services.html">Read More<i class="pl-5 fa fa-angle-double-right"></i></a>
										</div>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="image-box style-2 mb-20">
										<div class="overlay-container overlay-visible">
											<img src="images/service-6.jpg" alt="">
											<a href="#" class="overlay-link"><i class="fa fa-link"></i></a>
											<div class="overlay-bottom hidden-xs">
												<div class="text">
													<p class="lead margin-clear text-left">Data Governance</p>
												</div>
											</div>
										</div>
										<div class="body padding-horizontal-clear">
											<p>Rules, Standards, Processs, Documntation</p>
											<a class="link-dark" href="page-services.html">Read More<i class="pl-5 fa fa-angle-double-right"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- main end -->

					</div>
				</div>
			</section>
			<!-- main-container end -->
