<h1>Assets#index</h1>
<p>TDM offers proven Assets that will help you succeed with your project!</p>
<p><a class="btn btn-default" href="assets#index" role="button">View details &raquo;</a></p> <p><a class="btn btn-default" href="home#index" role="button">Home &raquo;</a></p>

<html lang="en">
	<!--<![endif]-->

	<head>
		<meta charset="utf-8">
		<title>TCOE | TDM Assets</title>

			<!-- breadcrumb start -->
			<!-- ================ -->
			<div class="breadcrumb-container">
				<div class="container">
					<ol class="breadcrumb">
						<li><i class="fa fa-home pr-10"></i><a href="index.html">Home</a></li>
						<li class="active">TDM Assets</li>
					</ol>
				</div>
			</div>
			<!-- breadcrumb end -->

			<!-- main-container start -->
			<!-- ================ -->
			<section class="main-container padding-bottom-clear">

				<div class="container">
					<div class="row">

						<!-- main start -->
						<!-- ================ -->
						<div class="main col-md-12">
							<!-- page-title start -->
							<!-- ================ -->
							<h1 class="page-title text-center">TDM <strong>Assets</strong></h1>
							<div class="separator"></div>
							<br>
							<!-- page-title end -->

							<div class="row">
								<div class="col-sm-4">
									<div class="image-box style-2 mb-20">
										<div class="overlay-container overlay-visible">
											<img src="<%= image_url('service-1.jpg') %>" width="60" heigth="38 align="" alt="ihg-logo">
											<a href="#" class="overlay-link"><i class="fa fa-link"></i></a>
											<div class="overlay-bottom hidden-xs">
												<div class="text">TDM TOOLS</p>
                          <h2>The Assets are:</h2>
                            <h3>Tools</h3>
														<ul>
                                <li><h4>Accelerators</h4>
                                <li><h4>Automation</h4>
                                <li><h4>Estimation</h4>
                                <li><h4>Templates</h4>
														</ul>
														<p><a class="btn btn-default" href="/services#index" role="button">View details &raquo;</a></p>

								<div class="col-sm-4">
									<div class="image-box style-2 mb-20">
										<div class="overlay-container overlay-visible">
											<img src="<%= image_url('service-2.jpg') %>" width="60" heigth="38 align="" alt="ihg-logo">
											<a href="#" class="overlay-link"><i class="fa fa-link"></i></a>
											<div class="overlay-bottom hidden-xs">
												<div class="text">
													<p class="lead margin-clear text-left"><h3>Communication</h3></p>
												</div>
											</div>
										</div>
										<div class="body padding-horizontal-clear">
											<ul>
													<li><h4>Website</h4>
													<li><h4>Newsletter</h4>
													<li><h4>Forums</h4>
													<li><h4>Trainings</h4>
											</ul>
											<a class="link-dark" href="page-services.html">Read More<i class="pl-5 fa fa-angle-double-right"></i></a><br>
										<div class="col-md-4">
											<h2>Is ILN the Next New Data Management environment?</h2>
											<p>What is ILN and how will it help us.  <b>Intelligent information logistics networks (ILNs)</b</p><br>
										<a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
									 </div>
										<div class="col-md-4">
											<h2></h2>
											<p>tbd</p>
											<p>TBD</p>
												<b>TBD</b><br>
											<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
										</div>
									</div>
									</div>
								</div>

					</div>
				</div>
			</section>
			<!-- main-container end -->
